@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
    display: flex;
    justify-content: space-evenly;
}
.creer{
    display: flex;
    flex-wrap:wrap ;
    align-items: center;
    justify-content: center;
    width: 69.2%;
    height: 55vh;
}
h1{
    color: #0D0B68;
    width: 100%;
    text-align: center;
}
table{
    font-size: 14px;
    border: 1px solid;
    width: 100%;
    height: 20vh;
    border-collapse: collapse;
}
tr{
    border:2px solid #0D0B68;
    text-align: center;
}
th{
    background-color: #0D0B68;
    color: #ffffff;
}
td{
    border: 2px solid #957000;
}
.matri{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-evenly;
    width: 70vh;
    height: 8.5vh;
    background-color: #957000;

}
.matri1{
    width:75%;
    height: 4.5vh;
    background-color: #ffffff;
    text-align: center;
    color: #000000;
    border:1px solid#000000;
}
.sear{
    color: #000000;
    font-size: 4vh;
}
.sear:hover{
    color: #0D0B68;
}
button{
    background-color: #957000;
    border: none;
}
.es{
    color: green ;
    font-size: 2vh;
}
.es1{
    color: red ;
    font-size: 2vh;
}